@charset "UTF-8";

body {
  font-family: -apple-system, BlinkMacSystemFont, "Helvetica Neue", "Yu Gothic", YuGothic, "ヒラギノ角ゴ ProN W3", Hiragino Kaku Gothic ProN, Arial, "メイリオ", Meiryo, sans-serif;
}

section {
  width: 50%;
  margin: 5% auto;
}

h2{
  margin-top: 60px;
}

hr {
  padding: 20px;
  border: 0px;
}


/*/////////////////////////////////////////////////
//フレーム装飾
/////////////////////////////////////////////////*/

.frame_1 {
  position: relative;
  background: #f8f0e4;
  border-radius: 10px;
  padding: 20px;
  line-height: 130%;
  display: block;
}

.frame_1 h3{
  position: absolute;
  top:-30px;
  left: 10px;
  display: block;
  background:#9D50BB;
  color: #fff;
  border-radius: 10px;
  padding: 5px 20px;
  text-align: center;
  line-height: 130%;
  font-size: 90%;
}


.frame_2{
  background: #9D50BB;
  color: #fff;
  border-radius: 5px;
  padding: 10px;
  text-align: left;
}

.frame_2 h3 {
  width: 100%;
  font-size: 150%;
  margin: 0 0 20px 0;
  padding: 0;
  text-align: center;
}

.frame_3{
  background: #f8f0e4;
  padding: 10px;
  text-align: left;
}

.frame_3 h3 {
  width: 100%;
  font-size: 120%;
  margin: -10px -10px 10px -10px;
  padding: 10px;
  color: #fff;
  background: #9D50BB;
}

.frame_4{
  background: #f8f0e4;
  padding: 10px;
  text-align: left;
}

.frame_4 h3 {
  border-radius: 20px;
  font-size: 120%;
  padding: 10px;
  margin: 0 0 10px 0;
  color: #fff;
  background: #9D50BB;
}

.frame_5 {
  position: relative;
  background: #f8f0e4;
  border-radius: 10px;
  padding: 20px;
  line-height: 130%;
  display: block;
}

.frame_5 h3{
  transform: rotate(-30deg);
  position: absolute;
  top:-20px;
  left: -30px;
  display: block;
  background:#9D50BB;
  color: #fff;
  border-radius: 10px;
  padding: 5px 20px;
  text-align: center;
  line-height: 130%;
  font-size: 90%;
}

.frame_6{
  text-align: left;
}

.frame_6 h3 {
  font-size: 120%;
  padding: 10px;
  margin: 0 0 10px 0;
  color: #fff;
  display: block;
  background: #9D50BB;
}
